; This is an ini style configuration. See http://editorconfig.org/ for more information on this file.

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
